.StartPage {
    background-image: url("../../images/blob-5.svg"), url("../../images/blobs.svg");
    background-repeat: no-repeat;
    background-position: bottom -60px right 0,
                        top -600px left 0px, 
                        top right;

    max-width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
/* background-position: right calc(28vw - 30%) top calc(50vh - 20vw), left calc(-20vw + 20%) bottom calc(22vh - 10vw); */
/* background-position: right calc(20vw + 15%) bottom calc(25vh - 15vw), left calc(-20vw + 20%) bottom calc(22vh - 10vw); */


.startPageContainer h1 {
    text-align: center;
    font-size: 3.1rem;
    color: var(--title-color);
    line-height: 37px;
    letter-spacing: 0.2rem;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.startPageContainer p {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--title-color);
    margin: 7px 0;
}

.startPageContainer button {
    font-size: 1.8rem;
    font-weight: 500;
    
    padding: 2rem 8rem;
    border-radius: 15px;
    margin-top: 2rem;
}