* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

:root {
  --title-color: #293264;
  --button: #4D5B9E;
  --gray: #DBDEF0;
}

body { 
  background-color: #F5F7FB;
  font-family: Inter, sans-serif;
}

/* Container */
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

/* Questions */
.questions--card h2 {
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--title-color);
  margin-bottom: 1.4rem;
}

/* Answers */
.answers--section {
  display: flex;
}

.answers {
  margin: 1rem 1.2rem;
  padding: 0.8rem 2.5rem;
  border-radius: 12px;
  border: 1px solid var(--title-color);

  font-size: 1.7rem;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.5rem;
}

.answers:first-child {
  margin-left: 0;
}

/* Answers selected */
.answer--selected {
  background-color: var(--gray);
  border: none;
}

/* Answers selected */
.answer--right {
  background-color: #94D7A2;
  border: none;
}

/* Answers selected */
.answer--wrong {
  background-color: #F8BCBC;
  border: none;
}


/* Separator */
.separator {
  border: 1px solid var(--gray);
  width: 100%;
  margin: 1.5rem 0;
  margin-bottom: 3rem;
}

/* Button */
button {
  display: flex;
  margin: 0 auto;

  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  color: #F5F7FB;
  font-weight: 500;

  cursor: pointer;
  
  padding: 2rem 4rem;
  background-color: var(--button);
  outline: none;
  border: none;
  border-radius: 15px;
  margin-bottom: 2rem;
}